@charset "UTF-8";

html{
	
}

body {
  background: linear-gradient(to bottom, #5c97d1, #f5faff);
  
}


/*ESTILO HEADER*/
header{
	display: flex;
	flex-wrap: wrap; 
	width:100%;
	justify-content: space-between;
	margin-top: 20px;
	padding-top:10px;
	padding-bottom: 10px;
}

header ul{
	display: flex;
	list-style: none;
	margin-left: 40px;	
}
header a{
	text-decoration: none;
}

header a{
	padding: 15px;
	border-radius: 10px;
	background-color:#E5EAEA;
	margin-right: 40px;
	color: black;
}
a:hover{
	background-color: #adceee;
}

.presionado{
	background-color: #0083BC;
	color: white;
}
.presionado:hover{
	background-color: #0083BC;
	color: white;
}
header nav{
	display: flex;
}



#logos {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	margin-right: 200px;
}
#lsal{
	width: 70px;
	height: 60px;
}
#lups{
	width: 120px;
	height: 60px;
	margin-left: 40px;
	margin-right: 100px;
}
/*ESTILO CUERPO*/

#cuerpo{
	display: flex;
	flex-direction: column;
}
#cuerpo h1{
	padding-left: 90px;
	font-size: 3em;
}

.imgInicio{
	width: 500px;
}

.contenido{
	display: flex;
	flex-direction: row;
	padding: 100px;
	padding-top: 50px;
	justify-content: center;
}

.contenido p{
	display:flex;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 1.3em;
	text-align: justify;
}

.act-box {
	background-color: #DBEBEE;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
	padding: 50px;
	margin: -20px 20px 20px 20px;
	
}

/*ESTILO DE LA PANTALLA ACTIVIDADES*/
#tabla-Actividad{
	padding-right: 200px;
	padding-left: 200px;	
}
#tabla-Actividad p{
	text-align: justify;
	padding-right: 40px;
}
#tabla-Actividad img{
	border-radius: 20px;
	padding-bottom: 10px;
}
#titulo-act{
	font-size: 1.6em;	
	font-weight: bold;
}
#h2tit{
	font-size: 2.6em;
	font-weight: bold;
	padding: 50px;
}

/*ESTILO SOBRE NOSOTROS*/
#centrar-nosotros{
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
}
#btn-miembros{
	text-decoration: none;
	color:white;
}

/*ESTILOS DE LOS MIEMBROS*/
#miembros-div {
	margin-left: 100px;
	margin-right: 100px;
}

#tit-miembros{
	margin-left: 500px;
	font-weight: bold;
	font-size: 1.6em;	
}



/*ESTILO REGISTRO*/
#contenedor-reg{
	display:flex;
	justify-content: center;
	margin-bottom: 223px;
}
.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
  width: 400px;
}

.card-header {
  background-color: #5c97d1;
  color: #fff;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 10px;
}

#registro-form table td {
	padding-top: 10px;
}
.alert {
  margin-top: 10px;
}

#btnreg{
  background-color: #4CAF50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espacio interno (vertical, horizontal) */
  text-align: center; /* Alineación del texto al centro */
  text-decoration: none; /* Sin decoración de texto */
  display: inline-block; /* Mostrar como un bloque en línea */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  border-radius: 4px; /* Bordes redondeados */
}

/* Cambio de color al pasar el cursor por encima */
#btnreg:hover{
  background-color: #45a049; /* Nuevo color de fondo */
}


/*ESTILO BOTON*/
footer{
	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.btnRegistro{
	background-color: #0083BC; /* Color de fondo */
 	border: none; /* Sin borde */
 	color: white; /* Color de texto */
  	padding: 20px 30px; /* Espaciado interno */
  	text-align: center; /* Alineación de texto */
  	text-decoration: none; /* Sin subrayado */
  	display: inline-block; /* Mostrar como bloque de línea */
  	font-size: 16px; /* Tamaño de fuente */
  	margin: 10px; /* Margen exterior */
  	cursor: pointer; /* Cursor en forma de mano */
  	border-radius: 4px; /* Bordes redondeados */
	font-weight: bold;
	margin-bottom: 50px;
}

.btnRegistro:hover{
	background-color: #006692;
	transition: background-color 0.3s ease;
}

#registro{
	text-decoration: underline;
	color: blue;
}

/*TABLA MIEMBROS*/
#tabla-miembros{
	background-color: white;	
	border-radius: 20px;
}
